# useless mac files
.DS_Store

# quartus project files
Control_unit.qpf

# other quartus files and folders
Control_unit_nativelink_simulation.rpt
Control_unit.qsf
Control_unit.qws
Logic_testbench.v.bak
ROM_testbench.v.bak
Logic.v.bak
MAP.v.bak
nareg.v.bak
ROM.v.bak
db/
incremental_db/
output_files/
simulation/